# Задание 1. Предобработка

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

Загружаем файлы .csv в pandas DataFrame.

In [3]:
balance_scale_df = pd.read_csv('data/balance_scale.csv', sep=',', 
                               names = ['Class_Name', 'Left-Weight', 'Left-Distance', 
                                        'Right-Weight', 'Right-Distance'])
machine_df = pd.read_csv('data/machine.csv', sep=',', names = ['Vendor_Name', 'Model_Name', 'MYCT', 'MMIN', 
                                                               'MMAX', 'CACH', 'CHMIN','CHMAX', 'PRP', 'ERP'])

In [4]:
balance_scale_df.head()

  Class_Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0          B            1              1             1               1
1          R            1              1             1               2
2          R            1              1             1               3
3          R            1              1             1               4
4          R            1              1             1               5

In [5]:
machine_df.head()

  Vendor_Name Model_Name  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  PRP  ERP
0     adviser      32/60   125   256   6000   256     16    128  198  199
1      amdahl     470v/7    29  8000  32000    32      8     32  269  253
2      amdahl    470v/7a    29  8000  32000    32      8     32  220  253
3      amdahl    470v/7b    29  8000  32000    32      8     32  172  253
4      amdahl    470v/7c    29  8000  16000    32      8     16  132  132

Выводим подробную информацию об объекте *balance_scale_df*, для этого воспользуемся методом *info*().

In [6]:
balance_scale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625 entries, 0 to 624
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Class_Name      625 non-null    object
 1   Left-Weight     625 non-null    int64
 2   Left-Distance   625 non-null    int64
 3   Right-Weight    625 non-null    int64
 4   Right-Distance  625 non-null    int64
dtypes: int64(4), object(1)
memory usage: 24.5+ KB

In [7]:
balance_scale_df.isnull().sum()

Class_Name        0
Left-Weight       0
Left-Distance     0
Right-Weight      0
Right-Distance    0
dtype: int64

Делаем вывод, что пропусков нет.

Выводим подробную информацию об объекте *machine_df*, для этого воспользуемся методом *info*().

In [8]:
machine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Vendor_Name  209 non-null    object
 1   Model_Name   209 non-null    object
 2   MYCT         209 non-null    int64
 3   MMIN         209 non-null    int64
 4   MMAX         209 non-null    int64
 5   CACH         209 non-null    int64
 6   CHMIN        209 non-null    int64
 7   CHMAX        209 non-null    int64
 8   PRP          209 non-null    int64
 9   ERP          209 non-null    int64
dtypes: int64(8), object(2)
memory usage: 16.5+ KB

In [9]:
machine_df.isnull().sum()

Vendor_Name    0
Model_Name     0
MYCT           0
MMIN           0
MMAX           0
CACH           0
CHMIN          0
CHMAX          0
PRP            0
ERP            0
dtype: int64

Делаем вывод, что пропусков нет.

Перекодируем столбец *Class_Name* в *Balance Scale Data Set* для визулизации.

In [12]:
balance_scale_df['Class_Name'] = LabelEncoder().fit_transform(balance_scale_df['Class_Name'].tolist())

Перекодировка признаков в остальных случаях не требуется.

Сохраняем отредактированные датасеты.

In [13]:
balance_scale_df.to_csv('data/balance_scale_preprocessed.csv',index=False)

In [14]:
machine_df.to_csv('data/machine_preprocessed.csv',index=False)